.login-page {
    text-align: center
}
.login-page h1{
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    margin: 0;
}
.login-page .list-ios > .item-block:first-child{
    border-top:0
}
.login-page .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
    border-bottom:0
}
.login-page h3{
    margin: 15px auto;
    background: #3a7d9c;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding-top: 8px;
 }
 .list-ios{
     margin: 0;
 }
 .login-page .login{
     margin-top:25px;
 }
 .login-page  button{
    margin-top: 15px
}
.login-page button.twitter{
    background: #55acee;
    font-size: 13px
}
.login-page button.facebook{
   background: #3b5999;
   font-size: 13px   
}
.login-page button.google{
   background: #dd4b39;
   font-size: 13px
}
.login-page .gotoregister{
    line-height:3;
    cursor: pointer
}