<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="login-page">
  <h1>Welcome</h1>

  <ion-list>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <button class="login" ion-button full block large Secondary  (click)="login()">Login</button>
    </ion-item>

  </ion-list>
<h6>or login with</h6>
  <ion-row>
    <ion-col col-4>
      <button ion-button icon-left full class="facebook" (click)="loginByGoogle()">
        <ion-icon name="logo-facebook"></ion-icon>

      </button>
    </ion-col>
    <ion-col col-4>
      <button ion-button icon-left full class="google" (click)="loginByGoogle()">
        <ion-icon name="logo-google"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-4>
      <button ion-button icon-left full class="twitter" (click)="loginByGoogle()">
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <a class="gotoregister" (click)="goRegisterPage()">Create new account</a>

</ion-content>
