.register-page ion-content{
    text-align: center
}
.register-page h1{
    font-size: 40px;
    text-align: center;
    padding: 30px 0;
    margin: 0;
}
.register-page .list-ios > .item-block:first-child{
    border-top:0
}
.register-page .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
    border-bottom:0
}
.register-page  button{
    margin-top: 50px
}
