<ion-tabs>
  <ion-tab [root]="tab3Root" tabTitle="Join Us" tabIcon="link"></ion-tab>
  <ion-tab [root]="tab1Root" tabTitle="Contact List" tabIcon="ios-people"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Add Contact" tabIcon="ios-person-add"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="contact"></ion-tab>
</ion-tabs>
tab4Root