<ion-header>
    <ion-navbar>
      <ion-title>
        Edit Contact
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  
      <ion-item>
          <ion-label floating>Fisrt Name</ion-label>
          <ion-input type="text" [(ngModel)]="contact.name"></ion-input>
        </ion-item>
  
        <ion-item>
            <ion-label floating>Last Name</ion-label>
            <ion-input type="text" [(ngModel)]="contact.lname"></ion-input>
        </ion-item>
  
        <ion-item>
            <ion-label floating>Department</ion-label>
            <ion-input type="text" [(ngModel)]="contact.department"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label floating>Age</ion-label>
            <ion-input type="text" [(ngModel)]="contact.age"></ion-input>
        </ion-item>
  
        <ion-item>
            <ion-label floating>Information</ion-label>
            <ion-input type="text" [(ngModel)]="contact.information"></ion-input>
        </ion-item>
  
        <div padding-top >
            <button  ion-button large block
            (click)="onUpdateContactData()">Edit Contact</button>
        </div>
  
  </ion-content>
  