<ion-header>
  <ion-navbar>
    <ion-title>Contact List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let contact of contactList">
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/stantz.jpg">
        </ion-avatar>
        <h2>{{contact.name}} {{contact.lname}}</h2>
        <h3>Department: {{contact.department}} - Age: {{contact.age}}</h3>
        <p>Info: {{contact.information}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="updateContact(contact.$key,contact.name,contact.lname,contact.department,contact.age,contact.information)">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
        <button (click)="deleteContact(contact.$key)" ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>