<!--
  Generated template for the UserProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>User Profile</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <img [src]="userInfo.img" />
    <ion-card-content>
      <ion-card-title>
        {{userInfo.name}}
      </ion-card-title>
      <p>
        {{userInfo.email}}
      </p>
      <p>
        {{userInfo.gender}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
