<ion-header>
  <ion-navbar>
    <ion-title>
      Join Us
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="contact-page">
  <img src="../../assets/imgs/Login.png" />
  <ion-grid>
    <ion-row>

      <ion-col col-6 *ngIf="authFlag == false">
        <button ion-button icon-left full color="success" (click)="logIn()">
          <ion-icon name="md-log-in"></ion-icon>
          Login
        </button>
      </ion-col>

      <ion-col col-6 *ngIf="authFlag == false">
        <button ion-button icon-left full color="secondary" (click)="registerByEmail()">
          <ion-icon name="md-person-add"></ion-icon>
          Register by Email
        </button>
      </ion-col>

      <ion-col col-12 *ngIf="authFlag == true">
        <button ion-button icon-left full color="danger" (click)="logOut()">
          <ion-icon name="md-log-out"></ion-icon>
          LogOut
        </button>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
