<ion-header>
  <ion-navbar>
    <ion-title>
      Add Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="add-contact-page">

    <ion-item>
        <ion-label floating>Fisrt Name</ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label floating>Last Name</ion-label>
          <ion-input type="text" [(ngModel)]="lname"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label floating>Department</ion-label>
          <ion-input type="text" [(ngModel)]="department"></ion-input>
      </ion-item>
      
      <ion-item>
          <ion-label floating>Age</ion-label>
          <ion-input type="text" [(ngModel)]="age"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label floating>Information</ion-label>
          <ion-input type="text" [(ngModel)]="information"></ion-input>
      </ion-item>

      <div padding-top >
          <button  ion-button full block large 
          (click)="onSaveFormData(name,lname,department,age,information)">Add Contact</button>
      </div>

</ion-content>
